<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고 관리 페이지</title>
    <link rel="stylesheet" href="/css/admin/style-admin.css">
</head>
<body>

<!-- 네비게이션 바 -->
<div th:replace="/admin/navigation/nav-admin"></div>

<!-- 신고 내용 테이블 -->
<div class="content">
    <h1>신고 관리</h1>
    <table>
        <thead>
        <tr>
            <th>신고 번호</th>
            <th>신고 제목</th>
            <th>신고 사유</th>
            <th>작성자</th>
            <th>신고 날짜</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.report_id}"></td>
            <td><a th:text="${report.title}" th:href="'/admin/report/' + ${report.report_id}"></a> </td>
            <td th:text="${report.content}"></td>
            <td th:text="${report.reporter.getName()}"></td>
            <td th:text="${report.timeStamp}"></td>
            <td th:text="${report.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/scripts/script_admin.js" defer></script>
<hr>

</body>
</html>
