nav {
    height: 100vh; /* 화면 높이 전체 */
    width: 200px; /* 네비게이션 바 폭 */
    position: fixed; /* 화면 위치 고정 */
    top: 0;
    left: 0;
    background-color: #333; /* 배경색 */
    padding-top: 20px; /* 상단 여백 */
    color: white; /* 글자색 */
}

nav a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

nav a:hover {
    background-color: #555; /* 호버시 배경색 */
}

/* 페이지 내용 스타일 */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

.content{
    border: 1px solid #ddd;
    width: 50%;
    text-align: center;
}
.content img{
    margin: 20px;
    align-self: center;
    width: 300px;
    height: 300px;
}
.style-info{
    text-align: center;
}
.style-info label{
    font-weight: bold;
}

select {
    padding: 5px;
    border-radius: 3px;
}

button {
    margin: 30px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}