.delete-button {
    background-color: #af0303;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.delete-button:hover {
    background-color: #ea2424;
}