
.content {
    text-align: center;
    margin-left: 20%;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.user-info {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
input {
    width: 90%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
button {
    background-color: #FF8787;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #FF6666;
}

nav a.login{
    color:bisque;
}

/* 새로운 스타일 추가 */
.menu {
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    border-right: #333;
}
.menu a {
    border-bottom: 1px solid #ddd;

    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}
.menu a:hover {
    color: #FF8787;
    border-right: #FF6666;
}

.logout-button {
    background-color: #FF8787;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #FF6666;
}

button {
    background-color: #FF8787;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #FF6666;
}

/* 새로운 스타일 추가 */
.menu {
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    border-right: #333;
}
.menu a {
    border-bottom: 1px solid #ddd;

    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}
.menu a:hover {
    color: #FF8787;
    border-right: #FF6666;
}

/* 게시글 목록 스타일 */
table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FF8787;
    color: white;
    font-weight: normal;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}

.content-style {
    margin-left: 20%;
    padding: 20px;
}
.box-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
}
.stylist-container {
    width: fit-content;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.stylist-container span {
    font-weight: bold;
}
.stylist-container img {
    display: block;
    margin: 10px auto;
    width: 300px;
    max-width: 100%;
    height: 300px;
}
h2.h2-style {
    text-align: left;
}

.stylist-container button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF8787;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}