.box-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
}
.stylist-container {
    width: fit-content;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.stylist-container span {
    font-weight: bold;
}
.stylist-container img {
    display: block;
    margin: 10px auto;
    width: 300px;
    max-width: 100%;
    height: 300px;
}
h2.h2-reservation {
    text-align: left;
}

.stylist-container a{
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF8787;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}